.container {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #ebf1f6;
  }
  
  .material-table {
    width: 1200px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 20%;
  }
  .link-btn-wrapper{
    margin-top: 50px;
  }
  
  .link-btn {
    width: 100%;
    height: 50px;
    background: #2b6ae0;
    color: #ebf1f6;
  }

  .donate-btn{
    background: #2b6ae0;
    color: #ebf1f6;
  }
  